.footer{
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;

    h3{
        display: flex;
        font-size: 1em;
        color: #f2c53d;
    }
}