.form {
    display: flex;
    background-color: white;
    width: 100%;
    height: 30em;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;

    form {
        display: flex;
        flex-direction: column;
        background-color: #f2c53d;
        width: 80%;
        padding: 1em;
        height: 90%;
        border-radius: 2em;
        align-items: center;

        @media (min-width: 1200px){
            width: 40%;
        }

        .formInput {
            width: 80%;
            height: 1.5em;
            outline: none;
            border-radius: 0.5em;
            margin-bottom: 0.5em;
            color: #777579;
            font-size: 1rem;
            font-family: 'Righteous', cursive;
            font-weight: lighter;
            padding: 0.5em;
            background-color: white;
            border: none;
            transition: 0.3s;
        }

        .formTextArea {
            width: 80%;
            height: 15em;
            outline: none;
            border-radius: 0.5em;
            margin-bottom: 0.5em;
            font-family: 'Righteous', cursive;
            font-weight: lighter;
            color: #777579;
            font-size: 1rem;
            padding: 0.5em;
            background-color: white;
            border: none;
        }

        .formSubmit {
            color: #f2c53d;
            border: none;
            margin-top: 0.5em;
            font-family: 'Righteous', cursive;
            font-weight: lighter;
            font-size: 1rem;
            padding: 0.5em;
            background-color: white;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                background-color: #777579;
                color: white;
            }
        }

        h2 {
            margin-top: 0;
            font-size: 2em;
            color: white;
        }
    }
}